<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.norgaard.barty">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_barty"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_barty_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key">
        </meta-data>

        <activity
            android:name=".Activities.Maps.MapsActivity"
            android:label="@string/title_activity_maps">
        </activity>

        <activity
            android:name=".Activities.Catalog.CatalogActivity"
            android:parentActivityName=".Activities.Maps.MapsActivity"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".Activities.Checkout.CheckoutActivity"
            android:label="@string/cart"
            android:parentActivityName=".Activities.Catalog.CatalogActivity"
            >
        </activity>

        <provider
            android:name=".Database.BartyContentProvider"
            android:authorities="com.example.norgaard.barty"
            android:exported="false"/>

        <service
            android:name=".Service.BartyService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name=".Service.BartyService" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.Login.LoginActivity"
            android:label="@string/title_activity_maps"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".Service.NewOrderBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.norgaard.barty.CREATE_ORDER_LISTENER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>